* {
    font-family: Nunito;
}

.nav {
    height: 83px;
    width: 2989px;
    background: #6C85AC;
    color: #ffffff;
}


.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 83px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}


.list li {
    list-style-type: none;
    margin: 70px;
    color: #ffffff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);

}

.header {

    height: 824px;
    width: 2989px;
    background: linear-gradient(180deg, #6C85AC 0%, rgba(108, 133, 172, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header h1 {
    margin-top: 6px;
    margin-left: 57px;
    padding-top: 26px;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.header p {
    margin: 57px;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.b_write_me {
    margin: 57px;
    height: 69px;
    width: 433.2559509277344px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;

}

.b_write_me:hover {
    margin: 57px;
    height: 69px;
    width: 433.2559509277344px;
    background: #C0C7D3;
    border: 2px solid #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}

.b_write_me:active {
    margin: 57px;
    height: 69px;
    width: 433.2559509277344px;
    background: #C0C7D3;
    border: 2px solid #FFFFFF;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}

/* Изображения для header */

#react {
    width: 235px;
    height: 236px;
    position: absolute;
    left: 2503px;
    top: 479px;
}

#mysql {
    position: absolute;
    width: 286px;
    height: 149px;
    left: 1555px;
    top: 566px;
}

#php {
    position: absolute;
    width: 240px;
    height: 196px;
    left: 1994.92px;
    top: 452px;

}

#js {
    position: absolute;
    width: 242px;
    height: 297px;
    left: 2052px;
    top: 101px;

}

#yii {
    position: absolute;
    width: 188px;
    height: 195px;
    left: 1150px;
    top: 577px;
}

#html {
    position: absolute;
    width: 177px;
    height: 209px;
    left: 1597px;
    top: 294px;

}

#css {
    position: absolute;
    width: 277px;
    height: 244px;
    left: 2565px;
    top: 96px;
}

h3 {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 54px;

    color: #6C85AC;

    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}


.reviews-skills {
    height: 500px;
    width: 2989px;
    display: flex;

    /* flex-direction: row; */
}


.reviews {
    margin-top: 47px;
    margin-left: 117px;
    padding-top: 137px;
    height: 402px;
    width: 804px;

}

.skills {
    font-family: 'Signika';
    font-size: 30px;
    height: 425px;
    width: 1796px;
    font-weight: 600;
    color: #6C85AC;
    margin-left: 180px;

}

.skills-numbers {
    display: flex;

}

.skills-numbers li {
    width: 200px;
    margin-right: 400px;
    list-style-type: none;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 66px;
    color: #6C85AC;
    border: 1px solid #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.skills-text {
    display: flex;
}

.skills-text li {
    list-style-type: none;
    width: 200px;
    margin-right: 400px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
    color: #4D4D4D;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.skills-icons {
    display: flex;
    height: 5px;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 31px;
    color: #6C85AC;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.skills-icons li {
    /* list-style-type: none; */
    margin-right: 300px;

}

/* Working block */
.working {
    height: 2985px;
    width: 2989px;
    left: 0px;
    top: 643px;
    margin-left: 200px;

}


.work1 {
    margin-top: 60px;
    height: 650px;
    width: 1233px;
    left: 251px;
    top: 113px;
    background: #DDEAFF;

}

.work2 {
    margin-top: 60px;
    height: 650px;
    width: 992px;
    left: 78px;
    top: 49px;
    border-radius: 0px;
    background: #DDEAFF;

}

.work3 {
    margin-top: 60px;
    height: 881px;
    width: 1502px;
    left: 0px;
    top: 59px;
    border-radius: 0px;
    background: #DDEAFF;
}

.projects {
    margin-left: 2000px;
    height: 160px;
    width: 354.8972473144531px;
    left: 0px;
    top: 0px;
    border: 1px solid #FDFECC;
    ;
    background: #FDFECC;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    left: 75.48%;
    right: 12.65%;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #8E9AAF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
}

.projects:hover {
    margin-left: 2000px;
    height: 160px;
    width: 354.8972473144531px;
    left: 0px;
    top: 0px;
    border: 1px solid rgba(253, 254, 204, 0.6);
    ;
    background: rgba(253, 254, 204, 0.6);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    left: 75.48%;
    right: 12.65%;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #8E9AAF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
}

.projects:active {
    margin-left: 2000px;
    height: 160px;
    width: 354.8972473144531px;
    left: 0px;
    top: 0px;
    border: 1px solid rgba(253, 254, 204, 0.6);
    ;
    background: rgba(253, 254, 204, 0.6);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    left: 75.48%;
    right: 12.65%;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #8E9AAF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25)
}


.servise {
    height: 870px;
    width: 2989px;
    left: 0px;
    top: 3628px;
    border-radius: 0px;
    padding-top: 127px;
    padding-left: 100px;

    color: #FFFFFF;
    background: #6C85AC;
}

.servise h3 {
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.design {
    margin-top: 70px;
    margin-left: 100px;
    height: 1363px;
    width: 2989px;
    left: 0px;
    top: 4498px;
    border-radius: 0px;
}

.design h3 {
    margin-left: 103px;
}

.blog1 {
    margin-top: 64px;

    height: 250px;
    width: 550px;
    border-radius: 0px;
    background: #D9D9D9;
}

.blog2 {
    margin-top: 64px;

    height: 250px;
    width: 550px;
    border-radius: 0px;
    background: #D9D9D9;
}

.blog3 {
    margin-top: 64px;

    height: 250px;
    width: 550px;
    border-radius: 0px;
    background: #D9D9D9;
}

.coffee {
    display: flex;
}

.coffee1-1 {
    margin: none;
    height: 394px;
    width: 1494px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(coffee-and-writing-time-picjumbo-com1.png);
}

.coffee1-1 p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #6C85AC;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.coffee1-2 {
    width: 1694px;
    display: flex;
    background-color: #D5B9A7;
    align-items: center;
    justify-content: center
}

.coffee1-2 p {
    margin: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.footer {
    margin: 0;
    padding-top: 200px;
    padding-left: 198px;
    height: 731px;
    width: 2989px;
    left: 0px;
    background: #6C85AC;
}

.link {
    display: flex;
    flex-direction: column;

}

.link li {
    color: #ffffff;
    list-style-type: none;
    padding-top: 30px;
}